<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-8">
      <div *ngFor="let key of articleKeys; index as i">
        <a class="card mt-1 text-decoration-none text-muted" [routerLink]="['/log', key]" style="cursor: pointer">
          <div class="row g-0">
            <div class="col-3">
              <img style="max-width: 100%" [src]="articles[key].photo" alt="no image" />
            </div>
            <div class="col-9">
              <div class="card-body">
                <div class="row">
                  <h3 class="col-9 card-link text-black">
                    {{ articles[key].title }}
                  </h3>
                  <div class="col-3 text-end">
                    <p
                      class="badge rounded-pill"
                      *ngFor="let label of getLabels(articles[key])"
                      [ngStyle]="{ 'background-color': '#' + label.color }"
                    >
                      {{ label.name }}
                    </p>
                  </div>
                </div>
                <hr class="mt-0" />
                <p class="card-text">{{ articles[key].body | mdescape }}</p>
              </div>
            </div>
          </div>
        </a>
        <div class="card mt-1">
          <app-ads type="list"></app-ads>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <app-ads type="box" [count]="adsLength"></app-ads>
    </div>
  </div>
</div>
