<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-8">
      <div *ngFor="let key of articleKeys; index as i">
        <div class="col-md-4">
          <a
            class="card shadow mt-1 text-decoration-none text-muted"
            [routerLink]="['/log', key]"
            style="cursor: pointer"
          >
            <div class="row g-0">
              <img class="card-img-top img-fluid" [src]="articles[key].photo" alt="no image" />
              <div class="card-body">
                <div class="row">
                  <h3 class="card-title text-black">
                    {{ articles[key].title }}
                  </h3>
                  <p class="card-text">{{ articles[key].body }}</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="card mt-1">
          <app-ads type="auto"></app-ads>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <app-ads type="box" [count]="adsLength"></app-ads>
    </div>
  </div>
</div>
