<div class="container mt-3">
  <h2>Contact</h2>
  <hr />
  <div>仕事の依頼などは以下のフォームよりお願いします。<br />セールスメールはお控えください。</div>
  <div>Please use the following form for work requests.<br />Please refrain from sales emails.</div>
  <div class="mt-3 d-flex justify-content-center">
    <button matRipple class="btn btn-secondary mt-3" (click)="open(content)">
      フォームに入力する / Fill out the form
    </button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Contact Address / メールアドレス</h4>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-center">
      <re-captcha
        *ngIf="!isShowed"
        (resolved)="resolveReCaptcha()"
        siteKey="6LeCx-4eAAAAAM4bOC4sVLZB0uYrfBNE59Rlvz52"
      ></re-captcha>
      <ng-container *ngIf="isShowed">
        <iframe
          src="https://docs.google.com/forms/d/e/1FAIpQLSeEw2fPgmvruDNQC3UK62PUOZbCXGzoKgtvYL4CIP1DO7wAag/viewform?embedded=true"
          width="640"
          height="677"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
          >読み込んでいます…</iframe
        >
      </ng-container>
    </div>
  </div>
</ng-template>
