<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <tbody>
          <tr>
            <h2 class="mb-0 mt-3">アプリケーション</h2>
          </tr>
          <tr class="clickable" (click)="navigateToRepoUrl(project)" *ngFor="let project of applicationProjects">
            <td>{{ project.name }}</td>
            <td>{{ project.language ?? '--' }}</td>
          </tr>
          <tr>
            <h2 class="mb-0 mt-3">テンプレートプロジェクト</h2>
          </tr>
          <tr class="clickable" (click)="navigateToRepoUrl(project)" *ngFor="let project of templateProjects">
            <td>{{ project.name }}</td>
            <td>{{ project.language ?? '--' }}</td>
          </tr>
          <tr>
            <h2 class="mb-0 mt-3">動作確認プロジェクト</h2>
          </tr>
          <tr class="clickable" (click)="navigateToRepoUrl(project)" *ngFor="let project of testProjects">
            <td>{{ project.name }}</td>
            <td>{{ project.language ?? '--' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <app-ads [count]="adsLength"></app-ads>
    </div>
  </div>
</div>
