<nav ngbNav #nav="ngbNav" [activeId]="activeTab" class="navbar navbar-expand-md navbar-light bg-light pb-0">
  <div class="container-fluid">
    <a [routerLink]="['/']" class="navbar-brand"> kemu portal </a>
    <button class="navbar-toggler" type="button" (click)="menu.toggle()">&#9776;</button>
    <div [ngbCollapse]="true" #menu="ngbCollapse" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li *ngFor="let tab of tabs; index as i" class="nav-item">
          <a
            class="nav-link"
            [routerLink]="tab.to"
            (click)="onClickedNav(menu)"
            [ngClass]="{ active: isActive(tab.to) }"
            >{{ tab.name }}<span class="ms-1 badge rounded-pill bg-success" *ngIf="tab.count">{{ tab.count }}</span></a
          >
        </li>
      </ul>
      <p class="ms-auto text-muted mb-0">{{ breadcrumb }}</p>
    </div>
  </div>
</nav>
