<div class="mt-3 container-fluid">
  <h2>JSON Formatter<app-tweet-btn class="ms-3"></app-tweet-btn></h2>
  未整形のJSONデータを整形します。
  <div class="row">
    <div class="col-md-6 border">
      <form [formGroup]="form">
        <label class="form-label">Space</label><br />
        <div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="space" type="radio" id="two" formControlName="space" value="  " />
            <label class="form-check-label" for="two">two space</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="space" type="radio" id="four" formControlName="space" value="    " />
            <label class="form-check-label" for="four">four space</label>
          </div>
        </div>
        <label class="form-control-label" for="json">JSON</label>
        <textarea class="form-control" id="json" rows="15" formControlName="json"></textarea>
        <app-ads type="list"></app-ads>
      </form>
    </div>
    <div class="col-md-6 border rounded">
      RESULT <button matRipple class="ms-1 btn btn-sm" (click)="copy()"><i class="bi bi-stickies"></i></button
      ><span [ngbTooltip]="jsonBytes.toString() + ' bytes'">{{ jsonBytes / 1024 }} KiB</span>
      <pre style="background-color: #f6f8fa">{{ result }}</pre>
    </div>
  </div>
</div>
