<div class="container mt-3">
  <div class="row border">
    <div class="col-sm-4">
      <app-lazy-img src="/assets/K-tech.png"></app-lazy-img>
    </div>
    <div class="col-sm-8 pt-3 bg-light">
      <h2>Contributions</h2>
      <div class="overflow-auto">
        <mat-tab-group>
          <mat-tab label="2022">
            <iframe width="100%" src="/assets/iframes/weed_2022.html"></iframe>
          </mat-tab>
          <mat-tab label="2021">
            <iframe width="100%" src="/assets/iframes/weed_2021.html"></iframe>
          </mat-tab>
          <mat-tab label="2020">
            <iframe width="100%" src="/assets/iframes/weed_2020.html"></iframe>
          </mat-tab>
          <mat-tab label="2019">
            <iframe width="100%" src="/assets/iframes/weed_2019.html"></iframe>
          </mat-tab>
          <mat-tab label="2018">
            <iframe width="100%" src="/assets/iframes/weed_2018.html"></iframe>
          </mat-tab>
          <mat-tab label="2017">
            <iframe width="100%" src="/assets/iframes/weed_2017.html"></iframe>
          </mat-tab>
        </mat-tab-group>
      </div>
      <p>GitHub: <a href="https://github.com/kemu3007" target="_blank">kemu3007</a></p>
      <p>Twitter: <a href="https://twitter.com/kemu43" target="_blank">@kemu43</a></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <h2>
        News <a href="/rss.xml" class="btn btn-sm btn-light border text-muted"><i class="bi bi-rss"></i></a>
      </h2>
      <div class="border border-light rounded shadow">
        <app-news></app-news>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Tools</h2>
      <div class="border border-light rounded shadow">
        <app-tools-list></app-tools-list>
      </div>
      <h2 class="mt-2">Links</h2>
      <ol class="list-group shadow">
        <a class="list-group-item d-flex" href="https://kemu.site">
          <div class="text-start">
            <div class="fw-bold">旧ブログ</div>
            2022-03以前に管理していたブログ、頃合いを見て停止予定です。
          </div>
        </a>
      </ol>
    </div>
  </div>
</div>

<div class="mt-5 d-flex justify-content-center">
  <app-ads type="auto"></app-ads>
</div>
