<ngb-alert type="warning" class="my-0 py-1" [dismissible]="false"
  >このサイトは広告収益で成り立っています。広告ブロックツールは停止してください。</ngb-alert
>
<div class="text-end mt-1">
  <app-profile></app-profile>
</div>

<div class="text-center mt-3">
  <h2>Contributions</h2>
  <img style="max-width: 100%" src="./../../../assets/images/weed.png" />
  <h2>Links</h2>
  <ul class="list-group">
    <li><a href="https://twitter.com/kemu43">twitter | kemu43</a></li>
    <li><a href="https://github.com/kemu3007">github | kemu3007</a></li>
    <li><a href="https://kemu.site">旧ブログ(閉鎖予定)</a></li>
    <li><a href="/doc/">document(portal.kemu.site)</a></li>
  </ul>
</div>
