<ngb-alert type="warning" class="my-0 py-1" [dismissible]="false"
  >このサイトは広告収益で成り立っています。広告ブロックツールは停止してください。(▽◕ ᴥ ◕▽)
</ngb-alert>
<div class="text-end mt-1">
  <app-profile></app-profile>
</div>
<div class="container text-center mt-3">
  <div>
    <h2>Contributions</h2>
    <img style="max-width: 100%" src="/assets/images/weed.png" />
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>News</h2>
      <div class="border border-light rounded">
        <app-news></app-news>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Links</h2>
      <ul class="list-group">
        <a class="list-group-item border-0" href="/doc">Document | portal.kemu.site</a>
        <a class="list-group-item border-0" href="https://kemu.site">旧ブログ(閉鎖予定)</a>
        <a class="list-group-item border-0" href="https://github.com/kemu3007">GitHub | kemu3007</a>
        <a class="list-group-item border-0" href="https://twitter.com/kemu43">Twitter | kemu43</a>
      </ul>
    </div>
  </div>
</div>

<div class="mt-5 d-flex justify-content-center">
  <iframe
    src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=48&l=ur1&category=monthlydealevent&banner=0SN7PKM3ZXK5BW58WTR2&f=ifr&linkID=c4a78199505dd7da5dfc4016ee8728cc&t=kemu03-22&tracking_id=kemu03-22"
    width="728"
    height="90"
    scrolling="no"
    marginwidth="0"
    style="border: none"
    frameborder="0"
    sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation"
  ></iframe>
</div>
