<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 border-end border-2">
      <div class="d-flex">
        <button class="btn btn-light" routerLink="/blog">Japanese</button>
        <button class="btn btn-light" routerLink="/blog/en">English</button>
        <button class="btn btn-light" routerLink="/blog/ch">Chinese</button>
      </div>
      <input
        class="form-control mb-1 mt-3"
        placeholder="Search..."
        NgbTypeahead
        [ngbTypeahead]="search"
        (selectItem)="selectArticle($event)"
        #instance="ngbTypeahead"
        (blur)="instance.dismissPopup()"
      />
      <div class="d-flex justify-content-center">
        <mat-paginator
          hidePageSize
          showFirstLastButtons
          (page)="switchPage($event)"
          [length]="articleKeys.length"
          [pageSize]="10"
          [pageIndex]="pageIndex"
        ></mat-paginator>
      </div>
      <div *ngFor="let key of displayArticles; index as i">
        <a class="card shadow mt-1 text-decoration-none text-muted" [routerLink]="[key]" style="cursor: pointer">
          <div class="card-body">
            <div class="row">
              <h3 class="col-9 card-link text-black mb-0">
                {{ articles[key].title }}
              </h3>
              <div class="col-3 d-flex align-items-start justify-content-end">
                <p
                  class="badge rounded-pill"
                  *ngFor="let label of getLabels(articles[key])"
                  [ngStyle]="{ 'background-color': '#' + label.color }"
                >
                  {{ label.name }}
                </p>
              </div>
              <div class="col-12">{{ articles[key].created_at | date: 'yyyy.MM.dd' }}</div>
            </div>
            <hr class="mt-0" />
            <p class="card-text">{{ articles[key].body }}</p>
          </div>
        </a>
        <div class="card shadow mt-1" *ngIf="(i + 1) % 3 === 0">
          <app-ads type="auto"></app-ads>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <mat-paginator
          hidePageSize
          showFirstLastButtons
          (page)="switchPage($event)"
          [length]="articleKeys.length"
          [pageSize]="10"
          [pageIndex]="pageIndex"
        ></mat-paginator>
      </div>
    </div>
    <div class="col-md-4 bg-light">
      <app-ads type="box" [count]="adsLength"></app-ads>
    </div>
  </div>
</div>
