<div class="container">
  <div
    class="card mt-3"
    *ngFor="let article of articles | keyvalue"
    (click)="transitToDetail(article.key)"
  >
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-link">{{ article.value.title }}</h5>
        <p
          class="badge rounded-pill"
          *ngFor="let label of getLabels(article.value)"
          [ngStyle]="{ 'background-color': '#' + label.color }"
        >
          {{ label.name }}
        </p>
      </div>
      <hr class="mt-0" />
      <p class="card-text">{{ article.value.body }}...</p>
    </div>
  </div>
</div>
