<link
  rel="stylesheet"
  href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/styles/default.min.css"
/>
<div class="container mt-3" *ngIf="article">
  <h2>{{ article?.title }}</h2>
  <p>{{ article?.created_at | date: "yyyy.MM.dd hh:mm" }}</p>
  <hr />
  <div [innerHTML]="marked.parse(article['body'])"></div>
  <hr class="mt-5" />
  <h3>comments</h3>
  <div class="card" *ngFor="let comment of article?.comments">
    <div class="card-body">
      <div class="row">
        <img [src]="comment.user.avatar_url" style="width: 50px" />
        <a style="display: contents" [href]="comment.user.html_url">{{
          comment.user.login
        }}</a
        ><br />
      </div>
      <hr />
      {{ comment.body }}
    </div>
  </div>
  <p>
    コメントはこちらから
    <a [href]="article?.html_url">{{ article?.html_url }}</a
    ><br />
    ※リリースタイミングの問題上ページに反映されないことがありますが確認してます。
  </p>
</div>
