:host ::ng-deep img {
  max-width: 100%;
}

:host ::ng-deep pre {
  border: solid 1px grey;
  border-radius: 10px;
}

:host ::ng-deep ul {
  padding-left: 15px;
}

:host ::ng-deep li {
  list-style-type: circle;
}

:host ::ng-deep pre > code > ol > li {
  list-style-type: decimal;
  width: 100%;
}

:host ::ng-deep pre > code > ol > li::marker {
  color: grey;
}

:host ::ng-deep pre > code > ol {
  display: grid;
}
