:host ::ng-deep img {
  max-width: 100%;
}

:host ::ng-deep pre {
  border-radius: 10px;
}

:host ::ng-deep pre > ol > li {
  list-style-type: decimal !important;
  width: 100%;
}

:host ::ng-deep pre > ol > li::marker {
  color: grey;
}

:host ::ng-deep pre > ol {
  display: grid;
}
