<div class="container-fluid">
  <div class="row mt-3" *ngIf="article">
    <div class="col-md-8">
      <div class="d-flex justify-content-center">
        <img
          class="img-thumbnail img-fluid mb-2"
          [src]="'/assets/images/' + article.id + '.png'"
          [alt]="article.title"
          [title]="article.title"
        />
      </div>
      <div class="d-flex justify-content-between">
        <p>{{ article.created_at | date: 'yyyy.MM.dd hh:mm' }}</p>
        <app-tweet-btn></app-tweet-btn>
      </div>
      <hr />
      <div [innerHTML]="html"></div>
      <hr class="mt-5" />
      <div class="d-flex justify-content-between">
        <h2 id="comments">Comments</h2>
        <app-tweet-btn></app-tweet-btn>
      </div>
      <div class="card" *ngFor="let comment of comments">
        <div class="card-body pt-1 ps-1">
          <div class="d-flex">
            <img width="24" [src]="comment.user.avatar_url" />
            <a class="ms-2" [href]="comment.user.html_url">{{ comment.user.login }}</a
            ><br />
          </div>
          <hr class="mt-1 mb-1" />
          {{ comment.body }}
        </div>
      </div>
      <p class="mt-3">
        コメントは<a [href]="article.html_url">こちら<i class="bi bi-link-45deg"></i></a>から
        <br />
        ※リリースタイミングの問題上ページに反映されないことがありますが確認してます。
      </p>
      <hr />
      <h3>別の記事を見る</h3>
      <div class="row">
        <div class="col-md-6">
          <ng-container *ngIf="nextArticleId">
            <div class="card">
              <div class="card-header">次の記事</div>
              <div class="card-body">
                <a [href]="'/blog/' + nextArticleId">{{ articles[nextArticleId!].title }}</a>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="col-md-6">
          <ng-container *ngIf="pastArticleId">
            <div class="card">
              <div class="card-header">前の記事</div>
              <div class="card-body">
                <a [href]="'/blog/' + pastArticleId">{{ articles[pastArticleId!].title }}</a>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <app-ads [count]="adsLength" type="box"></app-ads>
    </div>
  </div>
</div>
