<nav ngbNav #nav="ngbNav" [activeId]="activeTab" class="navbar navbar-expand-md navbar-light bg-light pb-0">
  <div class="container-fluid">
    <a [routerLink]="['/']" class="navbar-brand"> kemu portal </a>
    <button class="navbar-toggler" type="button" (click)="menu.toggle()">&#9776;</button>
    <div [ngbCollapse]="true" #menu="ngbCollapse" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li *ngFor="let tab of tabs; index as i" class="nav-item">
          <a class="nav-link" [routerLink]="tab.to" [ngClass]="{ active: isActive(tab.to) }">{{ tab.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-message></app-message>

<ng-container *ngIf="loading; else contents">
  <app-loading></app-loading>
</ng-container>
<ng-template #contents>
  <router-outlet></router-outlet>
</ng-template>
