<app-nav></app-nav>

<app-message></app-message>
<app-ads-modal></app-ads-modal>
<div style="min-height: calc(100vh - 200px)">
  <ng-container *ngIf="loading; else contents">
    <app-loading></app-loading>
  </ng-container>
  <ng-template #contents>
    <router-outlet></router-outlet>
  </ng-template>
</div>
<footer class="bg-light py-3 footer">
  <div class="d-flex justify-content-center">
    <span class="text-muted">Amazonのアソシエイトとして、kemuは適格販売により収入を得ています。</span><br />
  </div>
  <div class="d-flex justify-content-end">
    <span style="font-size: 24px">
      <a href="https://github.com/kemu3007"><i class="bi bi-github"></i></a>
      <a class="ms-2" href="https://twitter.com/kemu43"><i class="bi bi-twitter"></i></a>
      <a class="mx-2" href="https://portal.kemu.site/doc/"><i class="bi bi-book"></i></a>
    </span>
  </div>
  <div class="d-flex justify-content-center">
    <span class="text-muted">Copyright ©️ 2017-2022 kemu All Rights Reserved.</span>
  </div>
  <div class="d-flex justify-content-center">
    <a class="text-muted" href="/">home</a>
    <a class="text-muted ms-2" href="/blog/">blog</a>
    <a class="text-muted ms-2" href="/log/">log</a>
    <a class="text-muted ms-2" href="/tools/">tools</a>
    <a class="text-muted ms-2" href="/contact/">contact</a>
  </div>
  <div class="d-flex justify-content-center">
    <div class="mb-3 text-muted">Last Release: {{ releaseDate }}</div>
  </div>
</footer>
