<app-nav></app-nav>
<app-newsbar></app-newsbar>
<app-message></app-message>
<app-ads-modal></app-ads-modal>
<div style="min-height: calc(100vh - 200px) !important">
  <div [ngClass]="{ 'd-none': !loading }">
    <app-loading></app-loading>
  </div>
  <div [ngClass]="{ 'd-none': loading }">
    <router-outlet></router-outlet>
  </div>
</div>
<div style="position: fixed; bottom: 5px; right: 5px">
  <app-tweet-btn></app-tweet-btn>
</div>
<footer class="bg-light py-3 footer">
  <div class="d-flex justify-content-end">
    <span style="font-size: 24px">
      <a class="mx-2" href="https://tech.trash-box.dev/doc/"><i class="bi bi-book"></i></a>
    </span>
  </div>
  <div class="d-flex justify-content-center">
    <span class="text-muted">Copyright ©️ 2017-2022 All Rights Reserved.</span>
  </div>
  <div class="d-flex justify-content-center">
    <a class="text-muted" href="/">home</a>
    <a class="text-muted ms-2" href="/blog/">blog</a>
    <a class="text-muted ms-2" href="/tools/">tools</a>
  </div>
  <div class="d-flex justify-content-center">
    <div class="mb-3 text-muted">Last Release: {{ releaseDate }}</div>
  </div>
</footer>
