<div class="container mt-3 row" *ngIf="data">
  <div class="col-sm-8">
    <h2>ユーザ情報</h2>
    <div class="mt-2">
      IP Address
      <div class="d-flex justify-content-center">
        <h2>{{ data.headers['x-forwarded-for'] }}</h2>
        <button class="ms-1 btn" (click)="copyAddress(data.headers['x-forwarded-for'])">
          <i class="bi bi-stickies"></i>
        </button>
      </div>
    </div>
    <hr />
    <div class="mt-2">
      その他の情報
      <table class="table table-striped mt-3">
        <thead>
          <tr>
            <th>key</th>
            <th>value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>user-agent</td>
            <td>{{ data.headers['user-agent'] }}</td>
          </tr>
          <tr>
            <td>sec-ch-ua-mobile</td>
            <td>{{ data.headers['sec-ch-ua-mobile'] }}</td>
          </tr>
          <tr>
            <td>sec-ch-ua-platform</td>
            <td>{{ data.headers['sec-ch-ua-platform'] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr />
    <div class="mt-2 mb-3">
      過去の検査時のIPアドレス
      <button class="btn btn-sm btn-danger" (click)="state.reset()"><i class="bi bi-trash"></i></button>
      <ul class="list-group mt-2">
        <li
          class="list-group-item"
          *ngFor="let history of state.histories$ | async"
          [ngbTooltip]="history.requestContext.time"
          placement="top-start"
        >
          {{ history.headers['x-forwarded-for'] }}
          <button class="ms-1 btn btn-sm" (click)="copyAddress(history.headers['x-forwarded-for'])">
            <i class="bi bi-stickies"></i>
          </button>
        </li>
      </ul>
    </div>
    <ng2-adsense adFormat="horizontal"></ng2-adsense>
  </div>
  <div class="col-sm-4">
    <ng2-adsense
      *ngFor="let _ of [].constructor(adsLength)"
      style="display: block"
      adFormat="fluid"
      slot="9091938102"
      layoutKey="-ef+6k-30-ac+ty"
    ></ng2-adsense>
  </div>
</div>
