<div class="container-fluid">
  <div class="mt-3">
    <h2>個人的に使ったりする自作ツール置き場（不定期更新）</h2>
  </div>
  <div class="row mt-3">
    <div class="col-md-9 row mx-0 border-end border-2">
      <h2>PINNED</h2>
      <div class="col-md-4 px-0 mx-0" *ngFor="let tool of pinnedTools; index as i">
        <div
          class="card shadow mt-1 text-decoration-none text-muted h-100"
          (click)="transitLink(tool)"
          style="cursor: pointer"
        >
          <div class="card-body">
            <div class="row">
              <h3 class="card-title text-black">
                {{ tool.label }}
              </h3>
              <p class="card-text">{{ tool.description }}</p>
            </div>
          </div>
        </div>
      </div>
      <app-ads type="auto" [count]="adsLength"></app-ads>
      <h2 class="mt-3">TOOLS</h2>
      <div class="col-md-4 px-0 mx-0" *ngFor="let tool of tools; index as i">
        <div
          class="card shadow mt-1 text-decoration-none text-muted h-100"
          (click)="transitLink(tool)"
          style="cursor: pointer"
        >
          <div class="card-body">
            <div class="row">
              <h3 class="card-title text-black">
                {{ tool.label }}
              </h3>
              <p class="card-text">{{ tool.description }}</p>
            </div>
          </div>
        </div>
      </div>
      <app-ads type="auto" [count]="adsLength"></app-ads>
    </div>
    <div class="col-md-4">
      <app-ads type="box" [count]="adsLength"></app-ads>
    </div>
  </div>
</div>
