<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 row mx-0 border-end border-2">
      <h2>
        <i class="bi bi-hammer"></i> 個人的に使ったりする自作ツール置き場（不定期更新）<app-tweet-btn
          class="ms-3"
        ></app-tweet-btn>
      </h2>
      <h2>Pinned Tools</h2>
      <div class="col-md-4 bg-light px-0 mx-0 mt-1" *ngFor="let tool of pinnedTools; index as i">
        <a
          class="card shadow mt-1 text-decoration-none text-muted h-100"
          [routerLink]="tool.link"
          style="cursor: pointer"
        >
          <div class="card-body">
            <div class="row">
              <h3 class="card-title text-black text-decoration-underline">
                {{ tool.label }} <i class="bi bi-pin-angle"></i>
              </h3>
              <p class="card-text">{{ tool.description }}</p>
            </div>
          </div>
        </a>
      </div>
      <div class="card mt-3">
        <app-ads type="auto" [count]="adsLength"></app-ads>
      </div>
      <h2 class="mt-3">Tools</h2>
      <div class="col-md-4 bg-light px-0 mx-0 mt-1" *ngFor="let tool of tools; index as i">
        <a
          class="card shadow mt-1 text-decoration-none text-muted h-100"
          [routerLink]="tool.link"
          style="cursor: pointer"
        >
          <div class="card-body">
            <div class="row">
              <h3 class="card-title text-black text-decoration-underline">
                {{ tool.label }} <i *ngIf="pinned.includes(tool.label)" class="bi bi-pin-angle"></i>
              </h3>
              <p class="card-text">{{ tool.description }}</p>
            </div>
          </div>
        </a>
      </div>
      <div class="card mt-3">
        <app-ads type="auto"></app-ads>
      </div>
      <h2 class="mt-3">External Tools</h2>
      <div class="col-md-4 bg-light px-0 mx-0 mt-1" *ngFor="let tool of externalTools; index as i">
        <a class="card shadow mt-1 text-decoration-none text-muted h-100" [href]="tool.link" style="cursor: pointer">
          <div class="card-body">
            <div class="row">
              <h3 class="card-title text-black text-decoration-underline">
                {{ tool.label }} <i *ngIf="tool.secure" class="bi bi-lock"></i>
              </h3>
              <p class="card-text">{{ tool.description }}</p>
            </div>
          </div>
        </a>
      </div>
      <div class="card mt-3">
        <app-ads type="auto"></app-ads>
      </div>
    </div>
    <div class="col-md-3 bg-light">
      <app-ads type="box" [count]="adsLength"></app-ads>
    </div>
  </div>
</div>
