<!-- <ng-container *ngIf="useGoogleAdsense; else amzn">
  <ng2-adsense *ngIf="isList; else box">
    <ng2-adsense adFormat="horizontal"></ng2-adsense>
  </ng2-adsense>
  <ng-template #box>
    <ng2-adsense
      *ngFor="let _ of [].constructor(count)"
      style="display: block"
      adFormat="fluid"
      slot="9091938102"
      layoutKey="-ef+6k-30-ac+ty"
    ></ng2-adsense>
  </ng-template>
</ng-container>
<ng-template #amzn>
  <app-amazon-ads *ngFor="let _ of [].constructor(count)" [type]="displayType"></app-amazon-ads>
</ng-template> -->
