<div class="mt-3 container-fluid">
  <div class="row">
    <div class="col-md-8 border-end border-2">
      <h2>JSON Typer<app-tweet-btn class="ms-3"></app-tweet-btn></h2>
      <div class="mt-3">
        JSONの値をTypeScript interface定義に変換します。List Typeには非対応です。any[]と出力されます。<br /><br />
        またJSONキーにスラッシュなどの値が含まれている場合正しく出力されないケースがあります。
      </div>
      <hr />
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="mt-3">
          <label for="rootType" class="form-label">RootTypeName</label>
          <input id="rootType" class="form-control" formControlName="rootType" />
        </div>
        <div class="mt-3">
          <label class="form-label">Space</label><br />
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="space" type="radio" id="tab" formControlName="space" value="\t" />
            <label class="form-check-label" for="tab">tab</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="space" type="radio" id="two" formControlName="space" value="  " />
            <label class="form-check-label" for="two">two space</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" name="space" type="radio" id="four" formControlName="space" value="    " />
            <label class="form-check-label" for="four">four space</label>
          </div>
        </div>
        <div class="mt-3">
          <label for="json" class="form-label">JSON</label>
          <textarea id="json" class="form-control" rows="10" formControlName="json"></textarea>
        </div>
        <div class="mt-3">
          <button matRipple class="btn btn-secondary" [disabled]="!form.valid">TYPE</button>
        </div>
      </form>
      <hr />
      RESULT <button matRipple class="ms-1 btn btn-sm" (click)="copy()"><i class="bi bi-stickies"></i></button>
      <p class="text-danger">{{ error }}</p>
      <pre class="mt-3" style="background-color: #f6f8fa; border-radius: 10px">{{ resultText }}</pre>
      <app-ads type="list"></app-ads>
    </div>
    <div class="col-md-4 bg-light">
      <app-ads type="box" [count]="3"></app-ads>
    </div>
  </div>
</div>
