<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      著者プロフィール / author profile
    </h4>
  </div>
  <div class="modal-body">
    2017年からC言語/C++を利用してマイコン開発を、2018年頃からDjango,
    Angularを用いた開発を行い実務インターンなどに参加。
    その後、大学4年次にK-techとして個人事業主に独立。<br />

    大学4年次にBeProudにアルバイトとして入社し卒業時に正社員に移行、現在は個人事業主を継続しながらソフトウェアエンジニアとして勤務。<br />
    <hr />
    <h5>監修</h5>
    <ul class="list-group">
      <li class="list-group-item">
        Pythonふりがなプログラミング パターン文例80 ふりがなプログラミング
      </li>
      <li class="list-group-item">
        スラスラ読める Pythonふりがなプログラミング スクレイピング入門
      </li>
    </ul>
  </div>
</ng-template>

<button class="btn btn-sm btn-secondary" (click)="open(content)">
  著者プロフィール / see author profile
</button>
