<div class="mt-3 container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h2 class="mb-3">Amazon Associate Linker</h2>
      <div class="d-flex justify-content-end"><app-tweet-btn></app-tweet-btn></div>
      アソシエイトIDと商品URLを元にアソシエイトリンクを生成します。<br />
      生成されたリンクを元に購入することでアソシエイトIDの持ち主に商品価格の数%のリベートが送られます。<br />
      <br />
      参考:
      <a href="https://affiliate.amazon.co.jp/help/node/topic/GRXPHT8U84RAYDXZ">アソシエイト・プログラム紹介料率表</a>
      <form [formGroup]="form">
        <div class="mt-3">
          <label for="associateId" class="form-label">Associate ID</label>
          <div class="input-group">
            <input class="form-control" id="associateId" formControlName="associateId" />
            <button matRipple class="btn btn-outline-secondary" (click)="useDefault()">DEFAULT</button>
          </div>
        </div>
        <div class="mt-3">
          <label for="product" class="form-label">商品URL</label>
          <input
            class="form-control"
            id="product"
            placeholder="https://www.amazon.co.jp/..."
            formControlName="product"
          />
        </div>
        <div class="mt-3">
          <button matRipple class="btn btn-secondary" (click)="generate()" [disabled]="!form.valid">GENERATE</button>
        </div>
      </form>
      <hr />
      <div *ngIf="result">
        <div class="mt-3" style="overflow-wrap: anywhere">
          RESULT<button matRipple class="ms-1 btn btn-sm" (click)="copy(result)"><i class="bi bi-stickies"></i></button
          ><br />
          <a [href]="result">{{ result }}</a>
        </div>
        <hr />
        生成したリンクの確認は<a href="https://affiliate.amazon.co.jp/home/tools/linkchecker">こちら</a>から
      </div>
    </div>
    <div class="col-md-4">
      <app-ads type="box" [count]="2"></app-ads>
    </div>
  </div>
</div>
