<div class="container-fluid">
  <div class="d-flex justify-content-between">
    <h2 class="mb-0">GitHub Flavored Markdown Writer<app-tweet-btn class="ms-3"></app-tweet-btn></h2>
  </div>
  <div class="row">
    <div class="col-6">
      Markdown
      <button matRipple class="ms-1 btn btn-sm" (click)="copy(form.controls.markdown.value)">
        <i class="bi bi-stickies"></i>
      </button>
    </div>
    <div class="col-6">
      <button matRipple class="ms-1 btn btn-sm" (click)="copy(rawHTML)"><i class="bi bi-stickies"></i></button>
      <i class="btn btn-sm bi bi-fullscreen" (click)="open(content)"></i>
    </div>
  </div>
  <hr class="my-0" />
  <div class="row">
    <div class="col-6">
      <form [formGroup]="form">
        <textarea
          #mdInput
          class="form-control overflow-auto"
          (keydown)="handleKeyDown($event, mdInput)"
          formControlName="markdown"
          style="height: calc(100vh - 120px); tab-size: 2"
        ></textarea>
      </form>
    </div>
    <div class="col-6">
      <div class="overflow-auto" style="height: calc(100vh - 120px)" [innerHTML]="generatedHTML"></div>
    </div>
  </div>
  <hr class="my-0" />
</div>

<ng-template #content let-modal>
  <div class="modal-header py-1 d-flex justify-content-between">
    <span>GitHub Flavored Markdown Writer</span>
    <button class="btn btn-sm" (click)="close()">&times;</button>
  </div>
  <div class="modal-body" [innerHTML]="generatedHTML"></div>
</ng-template>
